.header {
  margin: 5rem 0 0 0;
}
.productCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productCard {
  width: 49%;
  margin: 0 0 4rem 0;
}
.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 1rem 0 0 0;
}
.cat {
  margin: 0;
}

@media (min-width: 768px) {
  .productCard {
    width: 32%;
    margin: 0 0 4rem 0;
  }
  .productCard a > * {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .productCard {
    width: 24%;
    margin: 0 0 4rem 0;
  }
}
