.filter-panel {
    width: 250px;
    height: 100%;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    right: -250px;
    margin: 10vh 0 0 0; 
    transition: right .5 ease-in;
}
nav.panel-open {
    right: 0;
    padding: 0 20px;
}

.filter-panel .active {
    background-color: #000;
    color: #f5f5f5;
    text-decoration: none;
}
.size-filter {
    display: none;
}
.size-filter-options ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.size-filter-options li, .sort-options li {
    border: 1px solid #000;
    padding: 2px 12px;
    list-style: none;
    text-align: center;
}
.price-filter {
    display: flex;
    flex-direction: column;
}
.expand-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.expand-control button {
    border: none;
    background: none;
    cursor: pointer;
}
.price-filter-options {
    display: flex;
    justify-content: space-between;
    padding:  0 5px;
    transition: all 0.5s;
}
.sort-options li {
    margin: 4px 0;
    cursor: pointer;
}
.closed {
    display: none;
    opacity: 0;
}
.open {
    display: flex;
    opacity: 100%;
}
.price-filter-options input{
    width: 100px;
    border: 1px solid #707070;
    padding: 5px 7px;
}
.action-btns {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.apply-btn {
    background: none;
    padding: 5px 8px;
    border: 1px solid #000;
    cursor: pointer;
}
.clear-btn {
    background: none;
    border: none;
    cursor: pointer;
}

