.filterPanel {
  max-width: 100%;
  height: 92vh;
  position: fixed;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  padding: 0 3rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.panelControls {
  cursor: pointer;
}
.priceFilter,
.sortBy {
  margin: 4rem 0;
}
.expandControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.expandControl svg {
  height: 1rem;
}
.priceFilterOptions {
  display: flex;
  margin: 2rem 1rem;
  justify-content: center;
}
.priceFilterOptions span {
  margin: 0 2rem;
}
.priceFilterOptions input {
  width: 9rem;
  border: 1px solid #050505;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.sortOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.sortOptions div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
  border: 1px solid #000;
  height: 3.5rem;
  width: 90%;
}
.panelReset {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 5rem 0;
}
.panelReset div {
  font-size: 2rem;
}
.applyBtn {
  background-color: #050505;
  border: 1px solid #050505;
  color: #eee;
}
.panelReset div {
  border: 1px solid #050505;
  height: 4rem;
  width: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
