.landing {
  width: 100%;
  margin: -8vh 0 0 0;
  height: 72vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.heroBackground {
  position: absolute;
  top: 0;
  right: 0;
  height: 72vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  z-index: -1;
}
.heroBackground img {
  height: 100%;
}
.heroDesc {
  margin: 0 7rem 3rem 7rem;
  text-align: center;
  backdrop-filter: blur(4px);
}
.shopBtn {
  width: 19rem;
  height: 5rem;
  margin: 0 0 9rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050505;
  cursor: pointer;
}
.productSlider {
  margin: 8rem 0 0 0;
}
.sliderHeader {
  margin: 0 3rem 3rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sliderViewAll {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.sliderViewAll svg {
  height: 1rem;
  fill: #050505;
}
.slider {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  padding: 0 0 2.75rem 3rem;
}
.slider::-webkit-scrollbar {
  height: 0.5rem;
}
.slider:hover::-webkit-scrollbar-thumb {
  background: #050505;
}
.slider::-webkit-scrollbar-thumb {
  display: block;
  height: 0.25rem;
  background: transparent;
}
.sliderCard {
  min-width: 14.75rem;
  max-width: 14.75rem;
  margin: 0 1rem 0 0;
  text-transform: capitalize;
  cursor: pointer;
}
.productName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 1rem 0 0.5rem 0;
  font-size: 2rem;
}
.category {
  font-size: 2rem;
}
.productPrice {
  margin: 0.5rem 0 0 0;
  font-weight: 500;
  font-size: 2rem;
}
.sliderImg {
  width: 100%;
}
@media (pointer: coarse) {
  .sliderControls {
    display: none;
  }
}
@media (min-width: 768px) {
  .heroDesc {
    margin: 0 8rem 4rem 8rem;
  }
  .shopBtn {
    width: 27rem;
    height: 7rem;
    margin: 0 0 16rem 0;
  }
  .productSlider {
    margin: 7rem 0;
  }
  .sliderHeader {
    margin: 0 4rem 3rem 4rem;
  }
  .slider {
    padding: 0 0 2.75rem 4rem;
  }
  .sliderCard {
    min-width: 19.75rem;
    max-width: 19.75rem;
    margin: 0 2rem 0 0;
  }
}
@media (min-width: 1024px) {
  .landing,
  .heroBackground {
    height: 100vh;
  }
  .sliderCard {
    min-width: 28rem;
    max-width: 28rem;
  }
}
