.navbar-top {
    position: fixed;
    top: 0px;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
}
.nav-top-wrapper {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    align-items: center;
}
.nav-list-top ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-item-top {
    margin: 0 5px;
}
.user-top {
    display: none;
}
.logo a{
    font-size: 16px;
    color: #000;
    letter-spacing: 3px;
    font-weight: 500;
    border: 2px solid #000;
    padding: 0 2px;
}
.burger {
    width: 35px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line {
    width: 100%;
    height: 1px;
    background: #000;
    transition: all 0.8s;
}
.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background: #000;
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
    background: #000;
}
.navbar {
    width: 250px;
    height: 100%;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left .8s ease-in;
}
.change {
    left: 0;
}
.nav-list {
    text-align: left;
}
.nav-item, .side-login-item {
    list-style: none;
    margin: 25px;
}
.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}
.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.nav-link::after{
    bottom: 0;
    transform-origin: right;
}
.nav-link::before{
    top: 0;
    transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);
}
.login-link span {
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 10px;
}
.login-link svg {
    stroke: #000;
}
.side-social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}
.side-social-item svg{
    margin: 0 10px;
    transition: transform .2s ease-in;
    fill: #000;
    stroke: #000;
} 
.side-social-link svg:hover {
    transform: scale(1.5);
}


@media (min-width: 744) {
    li.user-top {
        display: block !important; 
    } 
    .logo {
        font-size: 30px;
    }  
}
