.card {
    border-radius: 0px;
    background: #f5f5f5;
    box-shadow:  18px 18px 36px #c6c6c6,
                -18px -18px 36px #ffffff;
    text-align: center;
    width: auto;
    padding: 25px;
}
.card-text {
    color: #f5f5f5;
    width: 100%;
    z-index: 2;
}
.payment-desc {
    margin: 25px;
    display: flex;
    justify-content: center;
    color: red;
}
