.addCart {
  border: 1px solid #050505;
  margin: 1rem 0;
}
.buyNow {
  background: #050505;
  color: #eee;
}
.addCart,
.buyNow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

@media (min-width: 768px) {
  .addCart,
  .buyNow {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .addCart,
  .buyNow {
    font-size: 3rem;
    font-weight: 400;
  }
}
